#about-us-page {
    margin-bottom: 5%;
}

#about-us-page h1 {
    text-align: center;
}

#about-us-page p:first-of-type {
    font-weight: 400;
}

#about-us-page .why-choose-us-content {
    margin-top: -4%;
    margin-bottom: 1%;
    height: 30vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55vw;
    display: flex;
    flex-direction: column;
}

#about-us-page .why-choose-us-content .first-row,
#about-us-page .why-choose-us-content+div {
    width: 100%;
    display: flex;
}

#about-us-page .why-choose-us-content .first-row {
    position: absolute;
    justify-content: space-between;
    left: 0;
    top: 58%;
}

#about-us-page .why-choose-us-content+div {
    justify-content: space-evenly;
}

#about-us-page .why-choose-us-content .first-row span,
#about-us-page .why-choose-us-content+div span {
    width: 18vw;
    font-weight: 700;
}

#about-us-page .content-container {
    display: flex;
    flex-direction: column;
}

#about-us-page .content-container .first-row,
#about-us-page .content-container .last-row {
    display: flex;
}

#about-us-page .content-container .last-row {
    padding: 0 12.5%;
}

#about-us-page .content-container .first-row .column,
#about-us-page .content-container .last-row .column {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#about-us-page .content-container .last-row .column {
    margin: 10% 0 !important;
}

#about-us-page .content-container .first-row .column:not(#about-us-page .content-container .first-row .column:nth-child(2)) {
    margin-top: 20%;
}

#about-us-page .content-container .first-row .column img,
#about-us-page .content-container .last-row .column img {
    width: 17vw;
    height: auto;
    margin: auto;
}

#about-us-page .content-container .first-row .column h2,
#about-us-page .content-container .last-row .column h2 {
    padding: 7% 1% !important;
    margin: 0 !important;
    font-weight: 700;
}

#about-us-page .content-container .first-row .column p,
#about-us-page .content-container .last-row .column p {
    padding: 1% !important;
    width: 17vw;
    margin: auto !important;
    height: 10vw;
    font-weight: 500;
    border: 4px solid;
    border-image: linear-gradient(180deg, #C526D2 0%, #6D4AE1 100%) 30% stretch;
}