#blogs .heading {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-top: 3rem;
    text-align: center;
}

#blogs .outer-cntr {
    margin: auto;
}

#blogs .outer-cntr a {
    text-decoration: none;
}

#blogs .outer-cntr .blog {
    position: relative;
    height: 25vw;
    margin-bottom: 2%;
    background-size: cover;
    background-position: center;
}

#blogs .outer-cntr .right-blog,
#blogs .outer-cntr .left-blog {
    display: inline-block;
    position: relative;
    left: 0;
    width: 49.5%;
    margin-bottom: 2%;
    height: 25vw;
    background-size: cover;
    background-position: center;
}

#blogs .outer-cntr .right-blog {
    margin-left: 1%;
}

#blogs .outer-cntr .blog-desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.84);
}

#blogs .outer-cntr .blog-title {
    font-weight: 600;
    margin-bottom: 0;
    padding: 1% 0.6%;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#blogs .outer-cntr .desc {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.09% 0.6%;
    color: #FFFFFF;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#blogs .toggleBtn {
    text-align: center;
}

#blogs .toggleBtn button,
#blogs .toggleBtn button:hover {
    height: 3rem;
    width: 10rem;
    margin: 2.5% 0 5% 0;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    font-weight: 700;
    font-size: 150%;
    padding: 0.4% 2% 0.4% 2%;
    background: linear-gradient(91.89deg, #C526D2 1.09%, #6D4AE1 89.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media only screen and (max-width: 768px) {

    #blogs .outer-cntr .blog,
    #blogs .outer-cntr .left-blog,
    #blogs .outer-cntr .right-blog {
        height: 30vh;
    }

    #blogs .outer-cntr .left-blog,
    #blogs .outer-cntr .right-blog {
        width: 100%;
        margin: auto 0;
    }

}