#footer {
    width: 100%;
    padding: 1.5%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(90deg, #C526D2 0.04%, #9639DA 26%, #6D4AE1 100%);
}

#footer p {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 0.75rem;
}