/* @import url("https://fonts.googleapis.com/css?family=Poppins"); */

.heading {
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin-top: 3rem;
    text-align: center;
}

.outer-cntr {
    margin: auto;
}

.blog {
    position: relative;
    height: 25vw;
    margin-bottom: 2%;
    background-size: cover;
    background-position: center;
}

.right-blog, .left-blog {
    display: inline-block;
    position: relative;
    left: 0;
    width: 49.5%;
    margin-bottom: 2%;
    height: 25vw;
    background-size: cover;
    background-position: center;
}

.right-blog {
    margin-left: 1%;
}

.blog-desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.84);
}

.blog-title {
    font-weight: 600;
    margin-bottom: 0;
    padding: 1% 0.6% !important;
    font-size: 1.3rem !important;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.09% 0.6% !important;
    color: #FFFFFF;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


/* .ant-col a {
    text-decoration: none;
}

[class*="ant-card-hoverable"] {
    width: 58.33%;
}

.ant-card-cover img {
    height: 20vw;
}

.ant-card-body {
    height: auto;
    background: rgba(0, 0, 0, 0.84);
    padding: 1%;
}

.ant-card-meta {
    color: #fff;
}

.ant-card-meta-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-card-meta-description {
    color: #FFFFFF;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
} */

.toggleBtn {
    text-align: center;
}

.toggleBtn button,
.toggleBtn button:hover {
    height: 3rem;
    width: 10rem;
    margin: 2.5% 0 5% 0;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    font-weight: 700;
    font-size: 150%;
    padding: 0.4% 2% 0.4% 2%;
    background: linear-gradient(91.89deg, #C526D2 1.09%, #6D4AE1 89.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media only screen and (max-width: 768px) {
    .blog, .left-blog, .right-blog {
        height: 30vh;
    }
    .left-blog, .right-blog {
        width: 100%;
        margin: auto 0;
    }
}