/* @import url("https://fonts.googleapis.com/css?family=Poppins"); */

.heading {
    font-weight: 700;
    font-size: 1.75rem;
    color: #FFFFFF;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.ant-col a {
    text-decoration: none;
}

[class*="ant-card-hoverable"] {
    width: 58.33%;
}

.ant-card-cover img {
    height: 20vw;
}

.ant-card-body {
    padding: 0;
}

.ant-card-meta {
    height: auto;
    background: #000000;
    color: #fff;
}

.ant-card-meta-detail {
    padding-left: 1%;
    padding-right: 1%;
}

.ant-card-meta-detail>div:not(:last-child) {
    margin-bottom: 0px;
}

.ant-card-meta-title {
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 1.3%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ant-card-meta-description {
    color: #FFFFFF;
    text-align: left;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.toggleBtn button,
.toggleBtn button:hover {
    margin-top: 3rem;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    font-weight: 800;
    font-size: 130%;
    padding: 0.4% 2% 0.4% 2%;
    background: linear-gradient(91.89deg, #C526D2 1.09%, #6D4AE1 89.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media only screen and (max-width: 768px) {
    .ant-card-cover img {
        height: 30vw;
    }

    [class*="ant-card-hoverable"]:not([class*="ant-col-push-5"] a [class*="ant-card-hoverable"]) {
        margin: auto;
    }

    [class*="ant-col-push-5"] {
        margin-left: -16.8%;
    }

    [class*="ant-card-hoverable"] {
        width: 75%;
    }
}