.Home-container{
  /* background-color: rgba(0, 0, 0, 1); */
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(18, 19, 22, 1));
}
.wrapper {
  max-width: 1020px;
  width: 100%;
  padding: 1em;
  margin: auto;
 
}

.join-us {
  display: flex;
  flex-direction: row-reverse;
  width: 77%;
  margin: 1.5em auto;
 font-size: 16px;

}
.join-us-button{
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: 
  rgba(217, 217, 217, 0);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 90px;
  height: 30px;
  font-weight: 400;
  font-family: Inter;
  font-style: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  margin: auto;
  text-align: left;
}

.header__left,
.header__right {
  width: 100%;
  padding: 0.8em;
  float: left;
}

.header__left {
  max-width: 550px;
  color:  rgba(255, 255, 255, 1);
  font-weight: 700;
  /* font-family: poppins;
  font-style: bold; */
}

.header__right {
  max-width: fit-content;
}

.cam__text {
  color: blue;
  /* color: rgba(197, 38, 210, 1); */
  /* background: linear-gradient(to right,rgba(197, 38, 210, 1) , rgba(36, 104, 237, 1),rgba(109, 74, 225, 1) ); */
}

.learn-more__button {
  height: 3.0em;
  width: 9em;
  margin-top: 3.5em;
  background-image: linear-gradient(to right, rgba(197, 38, 210, 1), rgba(166, 50, 215, 1), rgba(109, 74, 225, 1));
  color: white;
  border-radius: 5px;
  border: 0;
  font-weight: 700;
  font-family: poppins;
  font-size: 15px;
  border-radius: 12px;
}

.video__container {
  width: 307px;
  height: 386px;

}

.video__player {
  width: 100%;
  height: 100%;
}
.features__heading{
  color: rgba(255, 255, 255, 1);
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1060px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
}

.feature {
  padding: 1em;
  margin: 1em;
  max-width: 320px;
  width: 100%;
  text-align: left;
  color: 
  rgba(255, 255, 255, 1);
}
.features p{
  font-family: poppins;
  margin-top: 2em;
  font-size: 16px;
  font-weight: bold;
  /* margin-left: 1em; */
  text-align: center;
}
.feature h4{
  font-family: poppins;
  font-weight: bold;
  text-align: center;
}
.about-us__heading{
  color: rgba(255, 255, 255, 1);
}
.about-us {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* max-width: 1020px; */
  width: 100%;
  margin: auto;
  padding: 1em;
   
  
}

.about-us__para,
.about-us__image {
  padding: 1em;
}

.about-us__para {
  width: 50%;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-family: poppins;
  font-style: normal;
}

.about-us__image {
  width: 25%;
}

.about-us__image img {
  height: auto;
  width: auto;
}
.img{
  margin-top: -400px;
  margin-left: 20px;
}
background-image:url( ../images/Ellipse1.png)
